## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,8,Faanui,PF,80.01,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
1,10,Atar,MR,78.15,overcast clouds,20.5169,-13.0499,Oumou Elghoura
2,17,Hilo,US,82.13,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
3,20,Mahajanga,MG,78.82,scattered clouds,-15.7167,46.3167,Restaurant Greedy Coco Lodge Majunga
4,22,Butaritari,KI,79.30,light rain,3.0707,172.7902,Isles Sunset Lodge

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dt>{Hotel Name}</dt>
<dt><b>City</b></dt><dt>{City}</dt>
<dt><b>Country</b></dt><dt>{Country}</dt>
<dt><b>Description</b></dt><dt>{Description}</dt>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

         Lat       Lng
0   -16.4833 -151.7500
1    20.5169  -13.0499
2    19.7297 -155.0900
3   -15.7167   46.3167
4     3.0707  172.7902
..       ...       ...
152 -11.3847   43.2844
153  17.8815  -76.4093
154 -24.8500  152.3500
155  31.3167 -113.5333
156  22.2394   68.9678

[157 rows x 2 columns]

In [5]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

start = vacation_df.loc[vacation_df["City"] == "Acapulco"]
end = vacation_df.loc[vacation_df["City"] == "Acapulco"]
stop1 =  vacation_df.loc[vacation_df["City"] == "Cabo San Lucas"]
stop2 =  vacation_df.loc[vacation_df["City"] == "Celestun"]
stop3 =  vacation_df.loc[vacation_df["City"] == "Mapastepec"] 
start

,Unnamed: 0,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
41,215,Acapulco,MX,84.02,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start_city = start["Lat"].to_numpy()[0],start["Lng"].to_numpy()[0]
end_city = end["Lat"].to_numpy()[0],end["Lng"].to_numpy()[0]
stop_city1 = stop1["Lat"].to_numpy()[0],stop1["Lng"].to_numpy()[0]
stop_city2= stop2["Lat"].to_numpy()[0],stop2["Lng"].to_numpy()[0]
stop_city3= stop3["Lat"].to_numpy()[0],stop3["Lng"].to_numpy()[0]
print(f'start_city : {start_city},end_city : {end_city}')
print(f'stop_city1 :{stop_city1},stop_city2 : {stop_city2},stop_city3 : {stop_city3}')

start_city : (16.8634, -99.8901),end_city : (16.8634, -99.8901)
stop_city1 :(22.8909, -109.9124),stop_city2 : (20.8667, -90.4),stop_city3 : (15.4333, -92.9)

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Latitude-longitude pairs
start_city = (16.8634, -99.8901)
stop_city1 = (22.8909, -109.9124)
stop_city2 = (20.8667, -90.4)
stop_city3 = (15.4333, -92.9)
end_city = (16.8634, -99.8901)    

fig = gmaps.figure()
itinerary = gmaps.directions_layer(start_city,end_city,waypoints =   
    [stop_city1, stop_city2, stop_city3], travel_mode='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([start,stop1,stop2,stop3, end],ignore_index=True)
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,215,Acapulco,MX,84.02,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
1,97,Cabo San Lucas,MX,85.30,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
2,80,Celestun,MX,85.32,few clouds,20.8667,-90.4000,Posada Lilia
3,69,Mapastepec,MX,82.44,broken clouds,15.4333,-92.9000,Hotel San Carlos
4,215,Acapulco,MX,84.02,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt><b>Hotel Name</b></dt><dt>{Hotel Name}</dt>
<dt><b>City</b></dt><dt>{City}</dt>
<dt><b>Country</b></dt><dt>{Country}</dt>
<dt><b>Description</b></dt><dt>{Description}</dt>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))